# Docker configuration
BUNDLER_VERSION=2.4.17
WORKSPACE=/var/workspace
RAILS_PORT=3000

# Docker development configuration
RUBY_VERSION=3.2.2
REDIS_VERSION=6.2.13
NVM_VERSION=v0.39.3
NODE_VERSION=18.17.0
YARN_VERSION=1.22.19

# Rails configuration
RAILS_MAX_THREADS=5

# PostgreSQL configuration
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres
# POSTGRESQL_HOST=localhost
POSTGRESQL_HOST=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_DEVELOPMENT=rails_template_development
POSTGRESQL_TEST=rails_template_test
POSTGRESQL_PRODUCTION=rails_template_development

# Config for generate JWT Token
JWT_HMAC_SECRET=JWT_HMAC_SECRET
JWT_ALGORITHM=HS256
JWT_EXPIRED_TIME=7776000 # 86400 * 30 * 3 (3 months)

# SIDEKIQ CONFIGURATION
REDIS_URL=redis://:redis@redis:6379/0

# API_KEY Authentication
API_KEY=DXmuhW2y4i6yPPpYuZHJOw

# AWS configuration
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_S3_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=rails-template-bucket
AWS_S3_DIRECTORY=backend/rails_template_dev

# Backend hostname configuration
BACKEND_HOSTNAME=localhost:3000

# MAILER
MAILER_ADDRESS=smtp.gmail.com
MAILER_PORT=587
MAILER_USERNAME=trigger@gmail.com
MAILER_PASSWORD=MAILER_PASSWORD

# SLACK NOTIFICATION CONFIGURATION
EXCEPTION_HOSTNAME=Rails_Template_API_Dev
EXCEPTION_NOTIFICATION_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
EXCEPTION_NOTIFICATION_SLACK_CHANNEL=dev_exception_listener

# LOCALE
DEFAULT_LOCALE=en
