%p
  Hello #{@user.email}!
%p Please use this OTP to reset the password:
%p #{@otp}
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
